In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline
import pyflux as pf
from datetime import datetime

In [30]:
test_data = pd.read_csv("test.csv", index_col = 'ID')
train_data = pd.read_csv("train.csv", index_col = 'ID')

            Datetime  Count
ID
0   25-08-2012 00:00      8
1   25-08-2012 01:00      2
2   25-08-2012 02:00      6
3   25-08-2012 03:00      2
4   25-08-2012 04:00      2

**Data Exploration**

In [31]:
train_data.dtypes

Datetime    object
Count        int64
dtype: object

In [32]:
train_data['Datetime'] = train_data['Datetime'].apply(lambda x: pd.datetime.strptime(x,'%d-%m-%Y %H:%M'))

              Datetime  Count
ID
0  2012-08-25 00:00:00      8
1  2012-08-25 01:00:00      2
2  2012-08-25 02:00:00      6
3  2012-08-25 03:00:00      2
4  2012-08-25 04:00:00      2

In [67]:
train_data['month'] = pd.DatetimeIndex(train_data['Datetime']).month
train_data_pivot = pd.pivot_table(train_data[train_data['month']==2012], index = ['year'], values = ['Count'], aggfunc = np.sum)
train_data_pivot.plot(kind = 'line')

TypeError: Empty 'DataFrame': no numeric data to plot

In [ ]:
=